body {
	margin: 0;
}

* {
  /*box-sizing: border-box;*/
}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.container {
  /*margin: 0 auto;*/
	position: fixed;
	width: 100vw;
  height: 100vh;
	z-index: -10;
}

div.container {
  display: flex;
  align-items: center;
  font-family: monospace;
  justify-content: center;
  background-color: #343638;
	font-family: "Courier New", Courier, monospace;
}

div.container > div.ahoy {
  position: relative;
  width: 30vw;
  height: 30vw;
	margin-top: 0%;
  line-height: 30vw;
  text-align: center;
  color: #36393a;
  background-color: #2a2c2d;
  animation: textColor 11s ease infinite;
	border-radius:50%;
}
div.container > div.ahoy:after {
  position: absolute;
  content: "";
  top: 2vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #0fffc1, #7e0fff);
  background-size: 200% 200%;
  animation: animateGlow 11s ease infinite;
	border-radius:50%;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
		/*color: #2300ea;*/
  }
  50% {
    color: #0fffc1;
		/*color: #ea00c7;*/

  }
  100% {
    color: #7e0fff;
		/*color: #9800ea;*/
  }
}

div.container > nav.ahoyy {
  /*line-height: 22vw;*/
	position: fixed;
  width: 42%;
	height: 4%;
	bottom: 5%;
	margin-width: auto;
	z-index:1000;
	/*background-color: green;*/
	text-align: center;
}

div.container > nav.ahoyy > li {
	display: inline-block;
	/*background-color: purple;*/
	margin: 0.2em;
	width: 4em;
}

div.container > nav.ahoyy > li > a {
	color: gray;
	text-decoration: none;
	animation: textColor 11s ease infinite;
}

div.container > blog {

}

.blog > nav {
	background-color: green;
	width: 84vw;
	height: 7vh;
}

.blog > nav > li {
	background-color: purple;
	width: 4em;
	margin: 0.2em;
}
