body {
  margin: 0;
}

* {
  /*box-sizing: border-box;*/
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div.container {
  /*margin: 0 auto;*/
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;

  align-items: center;
  font-family: monospace;
  justify-content: center;
  background-color: #343638;
  font-family: "Courier New", Courier, monospace;

  display: flex;
}

div.container > div.ahoy {
  position: relative;
  width: 30vw;
  height: 30vw;
  margin-top: 0%;
  line-height: 30vw;
  text-align: center;
  color: #36393a;
  background-color: #2a2c2d;
  animation: textColor 44s linear infinite;
  border-radius:50%;
}

div.container > div.ahoy:after {
  position: absolute;
  content: "";
  top: 2vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.84);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(330deg, #7e0fff, #0fffc1);
  animation: animateSun 44s linear infinite;
  border-radius:50%;
}

@keyframes animateSun {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}

div.container > nav.ahoyy {
  position: fixed;
  width: 42%;
  height: 4%;
  bottom: 5%;
  margin-width: auto;
  z-index:1000;
  text-align: center;
}

div.container > nav.ahoyy > li {
  display: inline-block;
  margin: 0.2em;
  width: 4em;
}

div.container > nav.ahoyy > li > a {
  color: gray;
  text-decoration: none;
  animation: textColor 44s linear infinite;
}


/*blog*/

div.scrollable {
	overflow-y: auto;
}

div.containerBlog > nav.blogNav {
  background-color: green;
  /*width: 84vw;*/
	width: 90%;
	left: 5%;
  /*height: 8vh;*/
	position: inherit;
	top: 0;
	z-index: 1;
}


div.containerBlog > nav.blogNav > div.blogNavMain {
	left: 0;
	display: inline-block;
	background-color: blue;
	margin: 0.2em;
	/*width: 6em;*/
	width: 12.79%;
}
div.containerBlog > nav.blogNav > div.blogNavMain > li {
	/*display: inline-block;*/
	/*width: 8em;*/
	background-color: red;
}


div.containerBlog > nav.blogNav > div > li {
	display: inline-block;
	margin: 0.2em;
}




div.containerBlog > nav.blogNav > div.blogNavAside {
	/*right: 0;*/
	display: inline-block;
	background-color: lightblue;
	margin: 0.2em;
	width: 70%;
	float: right;
}
div.containerBlog > nav.blogNav > div.blogNavAside > li {
	float: right;
	background-color: red;
}

div.containerBlog > div.blog {
	background-color: purple;
	width: 100%;
	/*height: 100%;*/
	/*height: inherit;*/
	height: 90%;
	z-index: 2;
	padding: 0.2em;
	/*margin-top: 3.14%;*/
	/*margin-bottom: 0;*/
	padding: 0 4% 0 4%;
}

div.containerBlog > div.blog-invisible-top {
	z-index: 3;
	margin-top: 0;
	margin-bottom: 5%;
	width: 100px;
	height: 100px;
	background-color: brown;
	/*display: block;*/
	/*clear: both;*/

}

div.containerBlog {
  /*margin: 0 auto;*/
  position: fixed;
  width: 100vw;
  height: 100vh;
  /*z-index: -10;*/

  align-items: center;
  font-family: monospace;
  justify-content: center;
  background-color: #343638;
  font-family: "Courier New", Courier, monospace;

}

div.containerBlog > div.blog > h1 {background-color: yellow}
div.containerBlog > div.blog > h2 {background-color: yellow}
div.containerBlog > div.blog > h3 {background-color: yellow}
div.containerBlog > div.blog > p {background-color: orange}
